.about-section a {
  color:#1a1a1a;
}

.about-section {
  padding: 0 0 70px;
  margin-bottom: 80px;
  background-color:#fff;
}

.about-section p {
  font-weight:300;
  line-height:1.5em;
  letter-spacing:0.03em;
}

.about-section h3.services-title {
  font-weight:300;
  font-size:24px;
  text-align:left;
}

.about-section ul.services-list {
  padding:0;
}

.about-section ul.services-list li {
  list-style: none;
  line-height:1.8em;
  font-weight:300;
  letter-spacing:0.03em;
  text-align: left;
}

.about-section .email {
  font-size:28px;
  text-align:center;
}

/*.cta-section {
  padding: 0 0 20px;
  margin-bottom: 80px;
  background-color:#fff;
}
*/
@media only screen and (max-width : 480px) {

}
