html {
  height:100%;
}

body {
  position:relative;
  min-height:100%;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

h3.headline {
  font-weight:300;
  font-size:24px;
}

h4.section-header {
  font-size:20px;
  /*font-weight:700;*/
}

.content-section {
  margin-top:30px;
  padding-top:30px;
}

.hidden {
  opacity:0 !important;
}

button.cta {
  background-color: rgba(122, 31, 61, 1);
  font-size: 20px;
  padding: 15px;
  color:#fff;
  font-family: inherit;
  border: none;
  cursor: pointer;
  border-radius:3px;
}

.invisible {
  color:#fff !important;
}

@import "About.css";
@import "HeaderNav.css";
@import "Home.css";
@import "Content.css";
@import "PreviousWork.css";
@import "ViewPortfolioPiece.css";
